<h1>Welcome!</h1>

<h2>Find Warehouses and Items below:</h2>

<%= button_to "Warehouses", "/warehouses", method: :get, local: true %>
<br>
<%= button_to "Items", "/items", method: :get, local: true %>
